.signup-page .wrapper > .header {
  min-height: 100vh;
}
.signup-page .wrapper .card-signup {
  margin: 110px 0 40px;
}
.signup-page .footer .copyright,
.signup-page .footer a {
  color: #FFFFFF;
}
.signup-page .navbar-transparent{
  padding-top: 25px;
}
.card-signup .header {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -40px;
  padding: 20px 0;
}
.card-signup .text-divider {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}
.card-signup .content {
  padding: 0px 30px 0px 10px;
}
.card-signup .checkbox {
  margin-top: 20px;
}
.card-signup .checkbox label {
  margin-left: 17px;
}
.card-signup .checkbox .checkbox-material {
  padding-right: 12px;
}
.card-signup .social-line {
  margin-top: 15px;
  text-align: center;
}
.card-signup .social-line .btn {
  color: #FFFFFF;
  margin-left: 5px;
  margin-right: 5px;
}
.card-signup .header-primary {
  background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}
.card-signup [class*="header-"] {
  color: #FFFFFF;
}