.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 
}

.lm-title {
	text-align: center;
}

@media only screen and (min-width: 450px) {
	.rs-width {
		max-width: 450px;
	}
}