<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
						<div class="card card-signup">
							<form [formGroup]="loginForm" class="reg-form" role="form" (ngSubmit)="login()">
								<div class="header header-primary text-center">
									<h4>Get Started</h4>
									
								</div>
								
								<div class="content">


									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
										<input formControlName="em" type="email" class="form-control" id="email" placeholder="Email...">
									</div>

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
										<input formControlName="pass" type="password" class="form-control" id="password"  placeholder="Password..." />
									</div>

									<!-- If you want to add a checkbox to this form, uncomment this code

									<div class="checkbox">
										<label>
											<input type="checkbox" name="optionsCheckboxes" checked>
											Subscribe to newsletter
										</label>
									</div> -->
								</div>
								<div class="footer text-center">
									<a (click)="login()" class="btn btn-simple btn-primary btn-lg">Login</a>
									<a (click)="signup()" class="btn btn-simple btn-primary btn-lg">Sign up</a>
								</div>
							</form>
						</div>
					</div>
				</div>