<div class="card">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Add Worker</h4>
			<p class="category">Register a new worker for your business</p>
        </div>
        <div class="card-content">
			<form [formGroup]="empSignForm" (ngSubmit)="onSubmit()">
			    <div class="row">
			        <div class="col-md-9">
						<div formGroupName="details" class="form-group label-floating">
							<label class="control-label">Full Name</label>
							<input formControlName="name" type="text" class="form-control" id="name" required>
						</div>
			        </div>
			        <div class="col-md-3">
						<div formGroupName="details" class="form-group label-floating">
							<label class="control-label">Profile Photo</label>
							<span class="btn btn-default btn-sm">
			                  Upload&hellip; <input id="image_employee" name="image_employee" type="file" >
			              </span>
						</div>
			        </div>
			    </div>

			    <div class="row">
			    	<div class="col-md-4">
						<div formGroupName="details" class="form-group label-floating">
							<label class="control-label">Contact Number</label>
							<input formControlName="num" type="text" class="form-control" id="num" required>
						</div>
			        </div>
			    	 <div class="col-md-8">
						<div formGroupName="details" class="form-group label-floating">
							<label class="control-label">Email address</label>
							<input formControlName="email" type="email" class="form-control" id="email" required>
						</div>
			        </div>
			    </div>

			    <div class="row">
			    	<div class="col-md-6">
						<div formGroupName="pwdGrp" class="form-group label-floating">
							<label class="control-label">Password</label>
							<input formControlName="password1" type="password" class="form-control" id="password1" required>
						</div>
			        </div>
			    	 <div class="col-md-6">
						<div formGroupName="pwdGrp" class="form-group label-floating">
							<label class="control-label">Confirm Password</label>
							<input formControlName="password2" type="password" class="form-control" id="password2" required>
						</div>
			        </div>
			    </div>
			     <div class="row">
			    	<div class="col-md-4">
						<div formGroupName="details" class="form-group label-floating">
							<label class="control-label">Job role</label>
							<input formControlName="pos" type="text" class="form-control" id="posn">
						</div>
			        </div>
			    	 <div class="col-md-4">
						<div formGroupName="details" class="form-group label-floating">
							<label class="control-label">Experience in years</label>
							<input formControlName="exp" type="text" class="form-control" id="exp">
						</div>
			        </div>
			        <div class="col-md-4">
						<div formGroupName="details" class="form-group label-floating">
							<label class="control-label">Salary</label>
							<input formControlName="sal" type="text" class="form-control" id="sal">
						</div>
			        </div>
			    </div>

			    <button type="submit" class="btn btn-primary pull-right">Add and Register</button>
			    <div class="clearfix"></div>
			</form>
	</div>
</div>
