<b>Search For : </b>
<button (click)="salonSearch()" class="btn btn-primary">Salon and Spa</button>
<button (click)="hotelSearch()" class="btn btn-primary">Hotels</button>
<br>
<ul class="list-group">
  <div *ngFor="let listing of listings">
    <div *ngIf="listing.organisation_type==job">
      <li class="list-group-item" >
          <a [routerLink]="['/job-search/'+listing.$key]"><h3>{{listing.organisation_name}}</h3></a><h6><b>{{listing.organisation_type}}</b></h6>{{listing.details}}
      </li>
    </div>
</div>
</ul>
