<div class="row">
	<div class="col-md-12">
		<div class="card card-plain">
			<div class="card-header" data-background-color="purple">
				<h4 class="title">Manage Vacancy</h4>
				<p class="category">Manage existing vacancies or post a new vacancy</p>
			</div>
		</div>
	</div>
</div>	

<div class="row">
	<div class="col-md-8">
		<!--div class="alert alert-info">
            <span>No vacancies posted. Please complete the form to post a new one.</span>
        </div-->
        <app-jobs-added-list></app-jobs-added-list>
	</div>
	<div class="col-md-4">
		<app-add-vacancy></app-add-vacancy>
	</div>
</div>
