
  <br>
  <br>
  <br>
  <br>
  <br>

  <div style="clear:both;" class="row">
    <div class="col-sm-8">
      <div class="well">
      <form [formGroup]="addVacancyForm" class="reg-form" role="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          Select Gender  :
          <select   formControlName="job_gender" class="form-control" type="text" class="form-control" id="job_gender" required>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </div>
      <div class="form-group">
        <input formControlName="job_salary" type="text" class="form-control" id="job_salary" placeholder="Enter Salary Per Month" required>
      </div>
      <div class="form-group">
        <input formControlName="job_role" type="text" class="form-control" id="job_role" placeholder="Enter Job Role" required>

      </div>

      <div class="form-group">
        Select the Address of the job :
        <select   formControlName="job_address" class="form-control" type="text" class="form-control" id="job_address" required>
          <option value="1">RamMurthy Nagar</option>
          <option value="2">Kasthuri Nagar</option>
        </select>
      </div>
      <!--<div>
              <img-cropper id="image_owner" name="image_owner" [image]="data" [settings]="cropperSettings"></img-cropper><br>
              <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
          </div>-->





      <!--<div class="file-upload">
          <span class="text">upload</span>
          <input id="custom-input" type="file" (change)="fileChangeListener($event)">
      </div>
      <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
      <br>
      <span class="result rounded" *ngIf="data.image" >
          <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
      </span>-->


      <div class="form-group">
			     <button (click)="onSubmit()" type="button" class="btn btn-default">Add Vacancy</button>
      </div>
		  </form>
      </div>
    </div>
</div>
